<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Title Page-->
    <title>Event Register Form</title>

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/main.css" rel="stylesheet" media="all">
</head>

<body>
    
    <div class="page-wrapper bg-gra-02  p-b-100 font-poppins">
            <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <a class="navbar-brand" href="#">Workshops</a>
                      </div>
                      
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="/"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                        <li><a href="/login"><span class="glyphicon glyphicon-log-out"></span>Login</a></li>
                      </ul>
                    </div>
                  </nav>
        <div class="wrapper wrapper--w680">
               
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Register For the Event</h2>
                    <form  action="/api/users" method="POST" name="registration"  >
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">first name</label>
                                    <input class="input--style-4" type="text" name="first_name" required>
                                    
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">last name</label>
                                    <input class="input--style-4" type="text" name="last_name">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Birthday</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="text" name="dob" required>
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                 
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Gender</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">Male
                                            <input type="radio" checked="checked" name="gender" value="male">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">Female
                                            <input type="radio" name="gender" value="female">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="email" name="email" required>
                                 
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Phone Number</label>
                                    <input class="input--style-4" type="text" name="phoneNumber" minlength="10" required>
  
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                                <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Create Password</label>
                                            <input class="input--style-4" type="password" name="password" minlength="6" required>
                                            
                                        </div>
                                    </div>
                                    <div class="col-2">
                                            <div class="input-group">
                                                <label class="label">Confirm Password</label>
                                                <input class="input--style-4" type="password" name="passwordConfirm" minlength="6" required>
                                            
                                            </div>
                                        </div>
                       
                    </div>
                    <div class="row row-space">
                    <div class="col-2">
                            <div class="input-group">
                            <label class="label">Choose Event</label>
                            <div class="rs-select2 js-select-simple select--no-search" style="width:250px">
                                <select name="event" required>
                                    <option disabled="disabled" selected="selected"></option>
                                    <option>Health Workshop</option>
                                    <option>Baking Workshop</option>
                                    <option>Clay Workshop</option>
                                    <option>Fine Arts Workshop</option>
                                    <option>Robotics Workshop</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-2">
                            <div class="input-group">
                            <label class="label">Event Duration</label>
                            <div class="rs-select2 js-select-simple select--no-search" style="width:250px">
                                <select name="duration" required>
                                    <option disabled="disabled" selected="selected"></option>
                                    <option>3 Days</option>
                                    <option>7 Days</option>
                                    <option>10 Days</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                        <div class="input-group">
                            <div style="width:500px ">
                            <label class="label">Upload Photo</label>
                            <input class="input--style-4" type="file" name="photo">
                        </div>
                        </div>
                        <div class=" row p-t-15">
                            <button class="btn btn--radius-2 btn--blue col-4" type="submit">Submit</button>
                        <a href="/login" style="margin-left: 44%; margin-top: 20px;"><span class="glyphicon glyphicon-user col-6"></span>Already Registered</a>                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
  <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js/global.js"></script>
     <script src="js/FormValidate.js"></script>


</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->